@media (min-width: 600px) {
	#main-banner{
		overflow: auto;
	}
	#main-banner > img{
		display: inline-block;
	}
	#main-banner > div{
		position:absolute;
		top:15%;
		left:109.5px;
	}
	#main-banner > div > h4{
		font-family: 'Quicksand';
		font-weight: 700;
		font-size: 45px;
		color: white;
	}
	#main-banner > div > h3{
		font-family: 'Quicksand';
		font-weight: 500;
		font-size: 24px;
		color: white;
		width: 49%;
	}
	#main-banner > div > button{
		font-family: 'Quicksand';
		font-weight: 700;
		font-size: 18px;
		width: 14%;
		height: 4%;
		margin: 12.5px 208.5px 0 2px;
		padding: 6.5px 16.5px 6px 17px;
		border-radius: 2px;
		background-color: #de6c17;
		color: #ffffff;
	}
	#main-banner > img{
		position:absolute;
	}
	#body-header{
		text-align: center;
	}
	#body-header > h4{
	  font-family: Quicksand;
	  margin: auto;
	  font-size: 45px;
	  font-weight: 700;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  color: #36413c;
	  text-align: center;
  }
  #body-header > h3{
	  font-family: Quicksand;
	  width: 57%;
	  margin: auto;
	  font-size: 24px;
	  font-weight: 500;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.42;
	  letter-spacing: normal;
	  text-align: center;
	  color: #5e6e66;
  }
  #banner-wave{
	  position: relative;
  }
  body > *{
	  display: block;
  }
}